<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MovieDatabase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<add key="ApiKey1" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAApcCzXRWjd0O/v9cI7BuujAQAAAACAAAAAAAQZgAAAAEAACAAAAA+F9eTVgLK/bZ0Gpa5chHjr24qwxHWFh4Iazumje8hdgAAAAAOgAAAAAIAACAAAABEslyGn0BaZkp1rL1IABG1fne40IuhwZHOPJCSTd4zR0AAAAD7Nblu7syr7O7SlBFTwgyzyKXiDizJQmjmm9qmZqpk2DOkYf1QiiSo6Rg4fYKPWgf4XUHmjwknHCue0PaKSHu0QAAAADPPCtvB3bqHGRgP/s0HdBMWXn2HSWPQUzfvocBR2YKuBPygyDICPW8m3OfP5/48oLxAIxyNdC7elHCA9A7XtDE="/>
		<add key="ApiKey2" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAApcCzXRWjd0O/v9cI7BuujAQAAAACAAAAAAAQZgAAAAEAACAAAADEtSRErw4O31plwOGJPaoS36IXHXZdUY5Ig4SfQzOLxwAAAAAOgAAAAAIAACAAAAA6MAfJcPQPRiGz6NbPRDVRcPPZnmw49y67r84So4E/O0AAAAAXc0VqaAvdocavP1q8++gYUBntciXgYdNWJxhm2EqWOahb0jnJmRVIotdoUzBz7gkuQ8YyXbSudX7gSXgKp74pQAAAAHDiSQalKGY4rgZRV+fSWCUKxj7jr413O92zAqsHCPuGkOJ35/w6zc3sUv4OZDURoUfjtcqWvU0ULgnyFFw497k="/>
	</appSettings>
    <userSettings>
        <MovieDatabase.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </MovieDatabase.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAApcCzXRWjd0O/v9cI7BuujAQAAAACAAAAAAAQZgAAAAEAACAAAACS+p2oCoV88a/mVb9WCsEj5ECM91Z9BEUcdREx6NrbRQAAAAAOgAAAAAIAACAAAAAwD/uFu+ibIf7PP0VB4JJre3pcNQDllx8cLWAcjj3MhqAAAACG9UaVYJKWZUoOzgjBtSUB+JNs0f48Fp3foqpN7xQB8zowIPpEJ/mTAohdh4n7S4HfopzVNJz9TjJeqU0rJIaGwpL3Ti30qdnKeFpvqe/WHIbsG9cmuKO3hkLIMTPaUgGvFvtfjEgrHTZkT2HCMN+nSM0EqYxctCqot2D6rbs0mMsFoTCRbRDDXNGckz8kpG4rsXFQ6xC+KWrQ5rQO+HiEQAAAAELddMUWhhMw6KFS73+UINm/N6NNMzUVFcrAvLsJkKr+RGDJkdoC8RCqK/zh2sObtqMkh2bXSWHv/686qkAKt8Y="/> 
	</connectionStrings>
</configuration>